[Desktop Entry]
Actions=
Categories=Settings;Applications;
Comment[en_GB]=Hosts file manager program
Comment=Hosts file manager program
Exec=bash -c '"$(dirname "$1")"/host-flash.sh' dummy %k
GenericName[en_GB]=
GenericName=Host Flash
Icon=application-x-executable
MimeType=
Name[en_GB]=Host Flash
Name=Host Flash
Path=
StartupNotify=
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=